body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.gameBoard {
  width: 20%;
  height: 20%;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background-color: lightgrey;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wonLost {
  margin: 0 auto;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
